<% @pets.each do |pet| %>
    <div class="main">
       <div class="row">
         <div class="large-6 columns">
      <fieldset>
        <legend>I miei animali</legend>
        <li>
      <tr>
        <td><%= pet.namePet %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.description %></td>
        <td><%= link_to 'Show', pet_path(pet) %></td>
        <td><% if current_user.admin? || current_user?(pet.user) %>
            <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
            | <%= link_to 'Delete', pet, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
        <% end %>
      </tr>
        </li>
      </fieldset>
           <%= link_to "Crea il profilo di un altro animale", addPet_path %>
         </div>
       </div>
<% end %>


</div>