<% provide :title, "Animal #{@pet.namePet}" %>
<h1><%= @pet.namePet %></h1>
<h2><%= @pet.breed %></h2>
<h2><%= @pet.description %></h2>
<h3><%= link_to @pet.user.name, user_path(@pet.user.id) %></h3>
<section>
  <%= render 'stats' %>
  <%= render 'follow_form' if signed_in? %>

  <% if @pet.checkins.any? %>
      <h3>Check-in: (<%= @pet.checkins.count %>)</h3>
      <ol class="checkin">
        <%= render @checkins %>
      </ol>
  <% end %>

</section>
