<% provide :title, "Place: #{@place.name}" %>

<h1><%= @place.name %></h1>
<%= link_to "Check-in", new_place_checkin_path(@place)%>

<%= gmaps({
                  "map_options" => {"auto_adjust" => true, "auto_zoom" => false, "zoom" => 15 },
                  "markers"     => {"data" => @json }
          }) %>

<div>Descrizione:</div>
<%= @place.description %>

<h2>Reviews</h2>
<% @place.reviews.each do |review| %>
    <p>
      <strong>User:</strong>
      <%= link_to review.user.name, user_path(review.user.name) %>
    </p>

    <p>
      <strong>Review:</strong>
      <%= review.body %>
    </p>
<% end %>

<h2>Add a review:</h2>
<%= form_for([@place, @place.reviews.build]) do |f| %>
    <p>
      <%= f.label :body %><br />
      <%= f.text_field :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>